.container-fluid
{
	 background-image: url("../assets/fundo.jpg");
	 text-align: center;
	 background-size: cover;
}
@media screen and (min-width: 800px)
{
	.txt
	{
		width: 50%;
		float:left;
		display: inline-block;
	}
	.ft
	{
		width: 50%;
		float:left;
	}

}